<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../templates/hardware/css/hardware.css">
    <title>curso de JavaScript</title>
</head>
<body>

    <h1>Curso de JavaScript</h1>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Ptbk2af68e8?si=vCV8RKw6ehSFNJYW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <div>
        <a href="https://youtube.com/playlist?list=PLeuwJul7tRBfsm7sxnR5_7wG3KvaQ6oOt&si=VjZU-mfBrkCA43tZ" target="_blank" rel="external">veja o curso completo</a>
    </div>

    <div>
        <a href="../view/home.html"><img src="../templates/hardware/img/voltar.png" alt=""></a>
    </div>
    
</body>
</html>