@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #9EF8EE, #22BABB);
}

main {
    width: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
}

h1 {
    text-align: center;
    color: #FA7F08;
}

h2 {
    color: #348888;
}

p {
    text-align: justify;
}